jeu_video/__pycache__/
log.txt
log1.txt
log2.txt
log3.txt
log4.txt
# IDE Config
.idea/
# Virtual envs
.venv/
# Directory
.directory
# Setup
setup-env/
# pyc files
*.pyc
# Discord secrets
discord/conf.json
